{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <div>
        <h1>Settings</h1>
        {% if current_user.is_authenticated %}        
        <!-- <p class="lead">Authenticated</p> -->
        <div class="well">
            <form action="{{ url_for('settings.settings_view') }}" method="POST">
                {{ form.csrf }}
                <div class="input text">
                    <p>{{ form.setting_one.label }} {{ form.setting_one }}</p>
                    <p>{{ form.setting_two.label }} {{ form.setting_two }}</p>
                </div>
                <div>
                    <p><label style="font-weight:normal" id="message" name="message"> {{ message }} </label></p>
                </div>
                <div class="input submit">
                    <input type="submit" value="Save" />
                </div>
            </form>
        {% else %}
        <p class="lead">Not authenticated</p>
        <p class="lead"><a href="{{ url_for('admin.login_view') }}">Log in</a> first</p>
        {% endif %}        
    </div>
</div>
{% endblock body %}